customArray
insertionInAnArray
deletionInAnArray
linearVsBinarySearchInArray
linkedList
insertInLinkedList
deleteInLinkedList
operationsInCircularLinkedList
doublyLinkedList
stackOperations
stackInLinkedList
paranthesisMatchingProblem
multiParanthesisProblem
infixPostfixPrefix
queueWithArray
queueWithLinkedList
circularQueue
bubblaSortAlgotithms
insertionSortAlgorithm
selectionSort